<div id="notice">
  <%= flash[:notice] %>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', user: @user %>
      <%= render '/books/new', book: @book %> 
    </div>

    <div class="col-md-8 offset-md-1">
     <h2>Users</h2>
       <% @users.each do |user| %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th><%= image_tag user.get_profile_image %></th>
            <th><%= user.name %></th>
            <th><%= link_to "show", user_path(user.id) %></th>
          </tr>
      </table>
       <%end%>
      </thead>
    </div>
  </div>
</div>

